{{#zone "topCss"}}
    {{css "css/codemirror.css"}}
{{/zone}}
<div class="wr-input-control">
    <div class="cus-col-100">
        <textarea id="policy-definition-input" placeholder="Enter the policy"></textarea>
    </div>
    <br class="c-both"/>
</div>
{{#zone "bottomJs"}}
    {{js "js/codemirror.js"}}
    {{js "js/sql.js"}}
    {{js "js/editor.js"}}
{{/zone}}