{{#zone "navbarHeader"}}
    <a id="_uuf-navbar-popover-button" class="navbar-menu-toggle" data-toggle="dropdown">
        {{#defineZone "navbarPopover-icon"}}
            <span class="icon fw-stack"><i class="fw fw-tiles fw-stack-1x"></i></span>
        {{/defineZone}}
    </a>
    <ul id="_uuf-navbar-popover-items" class="dropdown-menu tiles arrow dark add-margin-1x" role="menu">
        {{defineZone "navbarPopover-items"}}
    </ul>
{{/zone}}