{{#zone "header"}}
    <header class="header header-default">
        <div class="container-fluid">
            <div class="pull-left brand float-remove-xs text-center-xs">
                {{defineZone "brand"}}
            </div>
            <div class="pull-right auth float-remove-xs text-center-xs">
                {{defineZone "userMenu"}}
            </div>
        </div>
    </header>
{{/zone}}