{{#zone "sidePanes"}}
    <div id="{{defineZone "sidePane-id" scope="protected"}}" class="sidebar-wrapper {{defineZone "sidePane-class" scope="protected"}}" data-side="{{defineZone "sidePane-orientation" scope="protected"}}">
        {{defineZone "sidePane-content" scope="protected"}}
    </div>
{{/zone}}