{{unit "cdmf.unit.ui.title" pageTitle="Platform Configuration"}}

{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
    <li>
        <a href="{{@app.context}}/platform-configuration">
            Platform Configuration
        </a>
    </li>
{{/zone}}

{{#zone "content"}}
    {{unit "cdmf.unit.platform.configuration"}}
{{/zone}}