{{#zone "navbarActions"}}
    <li>
        <a href="#" class="cu-btn">
            <span class="icon fw-stack">
                <i class="fw fw-add fw-stack-1x"></i>
                <i class="fw fw-ring fw-stack-2x"></i>
            </span>
            Add
        </a>
    </li>
    <li>
        <a href="#" class="cu-btn">
            <span class="icon fw-stack">
                <i class="fw fw-edit fw-stack-1x"></i>
                <i class="fw fw-ring fw-stack-2x"></i>
            </span>
            Edit
        </a>
    </li>
    <li>
        <a href="#" class="cu-btn">
            <span class="icon fw-stack">
                <i class="fw fw-delete fw-stack-1x"></i>
                <i class="fw fw-ring fw-stack-2x"></i>
            </span>
            Delete
        </a>
    </li>
{{/zone}}