.wr-content {
	padding-left:33px;
    padding-right:33px;
}

.wr-input-control .helper {
	font-weight:100;
}

.wr-input-control .cus-col-25 {
	float:left;
	width:25%;
}

.wr-input-control .cus-col-50 {
	float:left;
	width:60%;
}

.wr-input-control .cus-col-70 {
	float:left;
	width:70%;
}

.wr-input-control .cus-col-50 input {
	width:100%;
}

.wr-input-control .cus-col-70 input {
	width:95%;
}

.wr-input-control .cus-col-25 input {
	width:65%;
}

/*.wr-input-control .cus-col-50 span, .wr-input-control .cus-col-25 span {*/
	/*padding-left:20px;*/
/*}*/

/* wizard */
.wr-wizard {

}

.itm-wiz-current .wiz-no {
    border:1px solid #444;
    color:#fff;
    background:#444;
}

.itm-wiz {
    font-weight:100;
}

.itm-wiz div {
    display:inline-block;
    float:left;
}

.wiz-no {
    width:50px;
    height:50px;
    font-size:33px;
    font-weight: 100;
    border-radius: 80px;
    border:1px solid #ccc;
    color:#fff;
    padding:0 12px 10px;
    display:inline-block;
    text-align: center;
    background:#ccc;
    margin-right: 10px;
}

.wiz-lbl {
    width:190px;
    font-size:17px;
}

.wiz-lbl > span {
    padding-top:0;
    display:inline-block;
}





