/* modal pop-up styles */
.wr-modalpopup {
    display: none;
}

.wr-modalpopup .modalpopup-container {
    display: block;
    min-height: 100px;
    width: 100%;
    position: fixed;
    background: #11375B;
    color: #fff;
    z-index: 1000001;
    align-content: center;
    top: 50%;
    left: 0%;
}

.modalpopup-content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 50px;
}

.center-container {
    left: 25%;
    right: 25%;
}

.modal-content {
    display: block;
    /*padding: 2em 1.4em;*/
    min-height: 110px;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modalpopup-content h3 {
    font-weight: 300;
    font-size: 15px;
}

.modalpopup-content h3 .fw-stack {
    margin-right: 15px;
}

.wr-modalpopup .modalpopup-close-btn {
    color: #fff;
    z-index: 1000002;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 40px;
    padding: 5px 8px;
    font-size: 18px;
}

.wr-modalpopup .modalpopup-close-btn:hover {

}

/*.wr-modalpopup .modalpopup-content .buttons {*/
/*margin-top: 30px;*/
/*}*/

/*.wr-modalpopup .modalpopup-content .buttons .btn-operations {*/
/*background: #fff;*/
/*color: #333;*/
/*text-transform: uppercase;*/
/*font-weight: 500;*/
/*}*/

.wr-modalpopup .modalpopup-bg {
    position: fixed;
    z-index: 1000000;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.8;
    display: block;
    left: 0;
    top: 0;
}
