{{#zone "navbarPopover-items"}}
    <li id="apim-app-menu-item-1">
        <a href="#">
            <i class="icon fw fw-api"></i> API
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon fw fw-wsdl"></i> WSDL
        </a>
    </li>
{{/zone}}