/*==================================================
 * Effect 8
 * ===============================================*/
.effect8 {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	top: 10px;
	bottom: 10px;
	left: 0;
	right: 0;
	-moz-border-radius: 100px /10px;
	border-radius: 100px /10px;
}
.effect8:after {
	right: 10px;
	left: auto;
	-webkit-transform: skew(8deg) rotate(3deg);
	-moz-transform: skew(8deg) rotate(3deg);
	-ms-transform: skew(8deg) rotate(3deg);
	-o-transform: skew(8deg) rotate(3deg);
	transform: skew(8deg) rotate(3deg);
}

body {
	background: radial-gradient(circle, rgb(148 210, 248), rgb(58, 146, 200)) repeat scroll 0% 0% transparent;
	background-color: transparent;
	background-image: radial-gradient(circle, rgb(148, 210, 248), rgb(58, 146, 200));
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	background: radial-gradient(circle, rgb(148, 210, 248), rgb(58, 146, 200)) repeat scroll 0% 0% transparent;
	background-color: transparent;
	background-image: radial-gradient(circle, rgb(148, 210, 248), rgb(58, 146, 200));
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	background: radial-gradient(circle, rgb(148, 210, 248), rgb(58, 146, 200)) repeat scroll 0% 0% transparent;
	background-color: transparent;
	background-image: radial-gradient(circle, rgb(148, 210, 248), rgb(58, 146, 200));
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
}
.fixer {
	padding: 0 15px;
	margin: auto;
}