{{#zone "navMenuItems"}}
    <li id="apim-nav-menu-item-1">
        <a href="#">
            <i class="icon fw fw-user"></i> User Management
        </a>
    </li>
    <li id="apim-nav-menu-item-2">
        <a href="#">
            <i class="icon fw fw-policy"></i> Policy Management
        </a>
    </li>
{{/zone}}