{{#zone "navbarPopover-items"}}
    <li id="appm-app-menu-item-1">
        <a href="#">
            <i class="icon fw fw-applications"></i> Applications
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon fw fw-website"></i> Web Sites
        </a>
    </li>
{{/zone}}