h1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

h3 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

h4 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

h5 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

h6 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

body {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    background-color: #eef4f8;
}

.body-wrapper {
    margin-top: 0px;
    background: #eef4f8;
}

a {
    font-family: Roboto;
    font-weight: 400;
    /*text-decoration: underline;*/
}

.footer {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    padding-top: 20px;
}

.textColorDefault {    color: #0e1a35;
}

.cu-btn-inner{
    vertical-align: top;
}