.breadcrumb {
    display: none !important;
}

.submenu ul {
    padding-left: 282px!important;
}


/*individual table column width */

.table.list-table>thead.heading-row>tr>th {
    display: inline-block;
}

#group-grid_filter,
#searchBox {
    display: block !important;
}

#group-created-msg {
    padding-left: 235px;
}

.commonTabelListing tr td:first-child:not(.dataTables_empty) {
    display: none!important;
}