{{!
  Copyright (c) 2018, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{#zone "title"}}{{! to override parent page title }}{{/zone}}
{{unit "cdmf.unit.ui.title" pageTitle="Consent Page"}}

{{#zone "content"}}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">

            <div class="alert alert-info"><h3>COOKIE POLICY</h3></div>

            <div class="panel-body">
                <h3>About WSO2 IoT Server</h3>
                <p>WSO2 IoT Server 3.3.0 is a complete solution that enables device manufacturers and enterprises to
                   connect and manage their devices, build apps, manage events, secure devices and data, and visualize
                   sensor data in a scalable manner.</p>
                <p>It also offers a complete and secure Enterprise Mobility Management (EMM/MDM) solution that aims to
                   address mobile computing challenges faced by enterprises today. Supporting iOS, Android, and Windows
                   devices, it helps organizations deal with both Corporate Owned, Personally Enabled (COPE) and
                   employee-owned devices with the Bring Your Own Device (BYOD) concept.</p>
                <p>WSO2 IoT Server 3.3.0 comes with advanced analytics, enabling users to analyze speed, proximity, and
                   geo-fencing information of devices including details of those in motion and stationary state.</p>
                </p>
                <h2>Cookie Policy</h2>
                <p>IoT Server uses cookies to provide you with the best user experience, and to securely identify you.
                   You can disable cookies if you so wish . However you might not be able to access some of the services
                   if you disable cookies.</p>
                <h3>What is a cookie?</h3>
                <p>A browser cookie is a small piece of data that is stored on your device to help websites and mobile
                   apps remember things about you. Other technologies, including Web storage and identifiers associated
                   with your device, may be used for similar purposes. In this policy, we use the term “cookies” to
                   discuss all of these technologies.</p>
                <h3>How does WSO2 IoT Server 3.3.0 process cookies?</h3>
                <p>WSO2 IoT Server 3.3.0 uses cookies to store and retrieve information on your browser. This
                   information is used to provide a better user experience. Some cookies serve the purpose of allowing a
                   user to log in to the system, maintain sessions, and keep track of activities within the login
                   session.</p>
                <p>Some cookies in WSO2 IoT Server 3.3.0 are used to personally identify you. However, the cookie
                   lifetime ends once your session ends, i.e., after you log-out, or after the session expiry time has
                   elapsed.</p>
                <p>Some cookies are simply used to give you a more personalised web experience, and these cannot be used
                   to identify you or your activities personally.</p>
                <p>This Cookie Policy is part of the IoT Server <a href="{{@app.context}}/privacy-policy">Privacy Policy.</a>
                </p>
                <h3>What does WSO2 IoT Server 3.0.0 use cookies for?</h3>
                <p>Cookies are used for two purposes in WSO2 IoT Server 3.3.0.</p>
                <ol>
                    <li>To identify you and provide security</li>
                    <li>To provide a satisfying user experience.</li>
                </ol>

                <h4><u>Preferences</u></h4>
                <p>WSO2 IoT Server 3.3.0 uses cookies to remember your settings and preferences and to auto-fill the
                   fields to make your interactions with the site easier.</p>
                <p>These cookies can not be used to personally identify you.</p>

                <h4><u>Security</u></h4>
                <ol>
                    <li>WSO2 IoT Server 3.3.0 uses selected cookies to identify and prevent security risks. For example,
                        WSO2 IoT Server 3.3.0 may use cookies to store your session information to prevent others from
                        changing your password without your username and password.
                    </li>
                    <li>WSO2 IoT Server 3.3.0 uses session cookie to maintain your active session.</li>
                    <li>WSO2 IoT Server 3.3.0 may use a temporary cookie when performing multi-factor authentication and
                        federated authentication.
                    </li>
                    <li>WSO2 IoT Server 3.3.0 may use permanent cookies to detect the devices you have logged in
                        previously. This is to to calculate the <b>risk level</b> associated with your current login
                        attempt. Using these cookies protects you and your account from possible attacks.
                    </li>
                </ol>
                <h4><u>Performance</u></h4>
                <p>WSO2 IoT Server 3.3.0 may use cookies to allow <b>Remember Me</b> functionalities.</p>
                <h4><u>Analytics</u></h4>
                <p>WSO2 IoT Server 3.3.0 as a product does not use cookies for analytical purposes.</p>
                <h4><u>Third party cookies</u></h4>
                <p>Using WSO2 IoT Server 3.3.0 may cause third-party cookie to be set in your browser. WSO2 IoT Server
                   3.3.0 has no control over how any of them operate. The third-party cookies that maybe set
                   include:</p>
                <ol>
                    <li>Any social login sites. For example, third-party cookies may be set when WSO2 IoT Server 3.3.0
                        is configured to use “social” or “federated” login, and you opt to login with your “Social
                        Account”.
                    </li>
                    <li>Any third party federated login.</li>
                </ol>
                <p>WSO2 strongly advises you to refer the respective cookie policies of such sites carefully as WSO2 has
                   no knowledge or use on these cookies.</p>
                <h3>What type of cookies does WSO2 IoT Server 3.3.0 use?</h3>
                <p>WSO2 IoT Server 3.3.0 uses persistent cookies and session cookies. A persistent cookie helps WSO2 IS
                   3.3.0 to recognize you as an existing user so that it is easier to return to WSO2 or interact with
                   WSO2 IS 3.3.0 without signing in again. After you sign in, a persistent cookie stays in your browser
                   and will be read by WSO2 IoT Server 3.3.0 when you return to WSO2 IoT Server 3.3.0.</p>
                <p>A session cookie is a cookie that is erased when the user closes the Web browser. The session cookie
                   is stored in temporarily and is not retained after the browser is closed. Session cookies do not
                   collect information from the user’s computer.</p>
                <h3>How do I control my cookies?</h3>
                <p>Most browsers allow you to control cookies through settings. However, if you limit the given ability
                   for websites to set cookies, you may worsen your overall user experience since it will no longer be
                   personalized to you. It may also stop you from saving customized settings like login information.
                   Most likely, disabling cookies will make it unable for you to use authentication and authorization
                   functionalities offered by WSO2 IoT Server 3.3.0.</p>
                <p>If you have any questions or concerns regarding the use of cookies, please contact the entity or
                   individuals (or their data protection officer, if applicable) running this WSO2 IoT Server 3.3.0
                   instance.</p>
                <h3>What are the cookies used?</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Cookie Name</th>
                        <th>Purpose</th>
                        <th>Retention</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>JSESSIONID</td>
                        <td>To keep your session data in order to give you a good user experience.</td>
                        <td>Session</td>
                    </tr>
                    <tr>
                        <td>commonAuthId</td>
                        <td>Used to authenticate the the logged in session.</td>
                        <td>Session</td>
                    </tr>
                    <tr>
                        <td>samlssoTokenId</td>
                        <td>Used to map the logged in user with the SAML token.</td>
                        <td>Request</td>
                    </tr>
                    <tr>
                        <td>requestedURI</td>
                        <td>The URI you are accessing.</td>
                        <td>Session</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Disclaimer</h3>
                <p>This cookie policy is only for illustrative purposes of the product WSO2 IoT Server 3.3.0. The
                   content in the policy is technically correct at the time of the product shipment. The
                   entity,organization or individual that runs this WSO2 IoT Server 3.3.0 instance has full authority
                   and responsibility with regard to the effective Cookie Policy. WSO2, its employees, partners, and
                   affiliates do not have access to and do not require, store, process or control any of the data,
                   including personal data contained in WSO2 IoT Server 3.3.0. All data, including personal data is
                   controlled and processed by the entity, organization or individual running WSO2 IoT Server 3.3.0.
                   WSO2, its employees partners and affiliates are not a data processor or a data controller within the
                   meaning of any data privacy regulations. WSO2 does not provide any warranties or undertake any
                   responsibility or liability in connection with the lawfulness or the manner and purposes for which
                   WSO2 IoT Server 3.3.0 is used by such entities, organizations or persons.</p>
            </div>
        </div>
    </div>
{{/zone}}