<div class="wr-operations" style="height: 87px;"></div>

{{#zone "bottomJs"}}
    <script id="operations-bar" src="{{@unit.publicUri}}/templates/operations.hbs"
            type="text/x-handlebars-template"></script>
    {{js "js/operation-bar.js"}}
{{/zone}}