{{#zone "navbarCollapsableRightItems"}}
    <li class="visible-inline-block">
        <a id="_uuf_notifications_button" data-toggle="sidebar"
           data-target="#_uuf_notifications_pane" aria-controls="_uuf_notifications_pane"
           aria-expanded="false">
        <span class="icon fw-stack">
            <i class="fw fw-notification fw-stack-1x"></i>
        </span>
            Notifications
            <span class="badge">4</span>
        </a>
    </li>
{{/zone}}

{{~#zone "sidePanes"}}
    <div id="_uuf_notifications_pane" class="sidebar-wrapper " data-side="right">
        <ul class="sidebar-messages">
            {{defineZone "notifications"}}
        </ul>
    </div>
{{/zone}}