{{unit "cdmf.unit.ui.title" pageTitle="Policy Management"}}

{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
    <li>
        <a href="{{@app.context}}/policies">
            Policies
        </a>
    </li>
    <li>
        <a href="#">
            View
        </a>
    </li>
{{/zone}}

{{#zone "content"}}
    {{unit deviceTypePolicyView}}
{{/zone}}