body {
    width: 100%;
    font-family: sans-serif;
}

#userName {
    border-radius: 0;
}

#password {
    border-radius: 0;
}

#login-btn {
    border-radius: 0;
    background-color: navy;
    color: white;
    cursor: pointer;
}

#login-card {
    border-radius: 0;
    background-color: #BaBaBa;
}

#container {
    background-color: #ffffff;
}

#header-content {
    height: 100px;
    width: 100%;
    background-color: #BDBDBD;
    border-bottom: solid 2px;
}

#add-btn {
    border-radius: 50%;
    border: solid 2px;
    position: absolute;
    background-color: #BDBDBD;
    left: 15px;
    top: 75px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.add-btn.div {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

#fw-api:before {
    content: '\e601';
}

#btn {
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

#header-text {
    font-size: 25px;
    top: 10px;
    margin-left: 10px;
}

#header-btn {
    float: right;
}

#search-box {
    float: right;
}

#search {
    background-color: #BDBDBD;
    left: 110px;
    top: 20px;
    height: 25px;
    border: hidden;
}

#application-list {
    margin-top: 20px;
}

.applicationCreateBannerDropZone {
    width: 300px;
    height: 150px;
    border-radius: 5%;
    background-color: rgba(157, 159, 157, 0.53);
    border: dashed #888888 2px;
}

.applicationCreateBannerp {
    margin: 70px 40px 40px 150px;
}


.applicationCreateScreenshotDropZone {
    width: 150px;
    height: 150px;
    margin: 0 5px 0 5px;
    border-radius: 10%;
    background-color: rgba(157, 159, 157, 0.53);
    border: dashed #888888 2px;
}

.applicationCreateIconDropZone {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background-color: rgba(157, 159, 157, 0.53);
    border: dashed #888888 2px;
}

.applicationCreateIconp {
    margin: 70px 40px 70px 70px;
}

.applicationCreateScreenshotp {
    margin: 70px 40px 70px 70px;
}

#screenshot-container {
    display: flex;
    overflow-x: auto;
    height: 170px;
}

#app-icon-container {
    max-width: 200px;
    overflow-x: auto;
}

#modal-body-content {
    max-height: 700px;
    overflow-y: auto;
}

#img-btn-screenshot {
    margin: 0 5px 0 5px;
}

#app-create-modal {
    max-width: 700px;
    overflow-x: auto;
}

#store {
    border: none;
    border-bottom: solid #BDBDBD 1px;
    border-radius: 0px;
    width: 200px;
}

#version {
    border: none;
    border-bottom: solid #BDBDBD 1px;
    border-radius: 0px;
    width: 200px;
}

#app-release-switch-content {
    display: flex;
}

#app-release-switch-label {
    position: absolute;
    float: left;
}

#app-release-switch-switch {
    position: absolute;
    right: 10px;
}

.image-sub-title {
    font-style: italic;
    font-size: 12px;
    color: #818181;
}

