{{#zone "brand"}}
    <a href="{{#defineZone "productUri"}}{{@app.uri}}{{/defineZone}}">
        <img src="{{@unit.publicUri}}/img/logo.png" alt="{{defineZone "productName"}}"
             title="{{defineZone "productName"}}" class="logo" />
        <h1>{{#defineZone "productName"}}WSO2 Template App{{/defineZone}}</h1>
    </a>
{{/zone}}